@{
    Layout = "~/Views/Template/DashboardBase.cshtml";
}

@section Styles{
    <link rel="stylesheet" href="/vendor/datatables/css/dataTables.bootstrap4.min.css">
}

@section Menu{
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Employee</div>
        <a class="nav-link" href="https://localhost:44342/employee">
            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
            Dashboard
        </a>
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#master" aria-expanded="false" aria-controls="master">
            <div class="sb-nav-link-icon"><i class="fas fa-server"></i></div>
            Master Data
            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
        </a>
        <div class="collapse" id="master" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
            <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" href="javascript:void(0)">Asset</a>
                <a class="nav-link" href="javascript:void(0)">Category</a>
                <a class="nav-link" href="javascript:void(0)">Department</a>
            </nav>
        </div>
        <a class="nav-link" href="javascript:void(0)">
            <div class="sb-nav-link-icon"><i class="fas fa-users-cog"></i></div>
            Account Management
        </a>
        <a class="nav-link" href="https://localhost:44342/master/request">
            <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
            Request
        </a>
        <a class="nav-link" href="https://localhost:44342/master/invoice">
            <div class="sb-nav-link-icon"><i class="fas fa-file-invoice"></i></div>
            Invoice
        </a>
    </div>
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link text-dark active" id="ongoing-btn" data-toggle="tab" href="#data-tables"
           role="tab" aria-controls="card-data" aria-selected="true">On Going</a>
        <a class="nav-link text-dark" id="finished-btn" data-toggle="tab" href="#data-tables"
           role="tab" aria-controls="card-data" aria-selected="true">Finished</a>        
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">    
    <div class="tab-pane fade show active" id="data-tables" role="tabpanel" aria-labelledby="data-tables-tab">
        <div class="table-responsive mt-4">
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Invoice Id</th>
                        <th>Request Id</th>
                        <th>Requester</th>
                        <th>Total Items</th>                                              
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>No</th>
                        <th>Invoice Id</th>
                        <th>Request Id</th>
                        <th>Requester</th>
                        <th>Total Items</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Start Modal -->
<div class="modal fade" id="detailsModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table cellpadding="5">
                    <tr>
                        <td>Invoice Id</td>
                        <td>:</td>
                        <td id="setId"></td>
                    </tr>
                </table>
                <hr>
                <h5>Items List</h5>
                <ol id="itemList">
                </ol>
                <hr>
                <h5>Items Condition</h5>
                <form id="invoiceForm">
                    <input hidden id="invoiceId" name="invoiceId" />
                   <div id="assetPinalty">

                   </div>
                </form>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-sm btn-dark" id="submit-btn">Processed</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section ScriptsLink{
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
}

@section ScriptsDocReady{     
    table = $('#myTable').DataTable({
            "ajax": {
                "url": "https://localhost:44329/api/Invoice/data/ongoing",
                "datatype": "json",
                "dataSrc": ""
            },
            "columnDefs": [
                {
                    "targets": [0, 1,2,4],
                    "searchable": true,
                    "orderable": true,
                },
                {
                    "targets": [3,5],
                    "searchable": false,
                    "orderable": false
                }
            ],
            "columns": [
                {
                    "data": null,
                    "render": function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                {
                    "data": 'id'
                },
                {             
                    "data":'requestId'                   
                },
                {
                    "data": 'null',
                    "render": function (data, type, row, meta) {                        
                       return row.request.employee.firstName+" "+row.request.employee.lastName ;
                    }                    
                },
                {
                    "data": 'request.itemRequest.length'                    
                },                                         
                {
                    "data": 'id',
                    "render": function (data, type, row, meta) {
                        if(row.status==0){
                            return '<a href="javascript:void(0)" class="btn btn-sm btn-light" onclick="Details(\'' + data + '\')"><i class="far fa-check-square"></i></a>';              
                        }else{
                            return '-';
                        }
                    }
                }
            ]
        });    

    $("#ongoing-btn").click(function(){
        table.ajax.url( 'https://localhost:44329/api/Invoice/data/ongoing').load();
    }); 
    $("#finished-btn").click(function(){
        table.ajax.url( 'https://localhost:44329/api/Invoice/data/finished').load();
    });
    
    $("#closeModal").click(function(){
      ClearForm();
    }); 

    $("#submit-btn").click(function(e){
        e.preventDefault();
        Submit();
    });
} 

@section Scripts{
    let listAssetId = [];

    function Details(id){
        let pinaltyList = "";
        $.ajax({
                type:'GET',
                url: 'https://localhost:44329/api/Invoice/'+id,
                data: 'data'
            }).done((result) => {                
                if (result.status == "Ok") {
                    let hasil="";
                    $('#setId').html('#'+result.data.id);                  
                    $.each( result.data.request.itemRequest, function( i, field ) {
                        listAssetId.push(field.asset.id.toString());                        
                        pinaltyList+='<div class="form-row">'+
                                        '<div class="form-group col-md-5">'+
                                            '<input type="text" class="form-control-plaintext" id="asset'+field.asset.id +'" value="#'+field.asset.id+' ">'+
                                        '</div>'+
                                        '<div class="form-group col-md-7">'+
                                            '<select id="pinalty'+field.asset.id +'" class="form-control">'+
                                                '<option value="" selected>Choose...</option>'+
                                                '<option value="0">Fine</option>'+
                                                '<option value="1">Low Damaged (Outside Damage)</option>'+
                                                '<option value="2">Middle Damaged (Not Working Properly)</option>'+
                                                '<option value="3">High Damaged (Didnt work at all)</option>'+
                                                '<option value="4">Asset Lost</option>'+
                                            '</select>'+
                                        '</div>'+
                                      '</div>';                        
                        hasil+='<li>#'+field.asset.id+' - '+field.asset.name+'</li>';                                      
                    });
                    $('#itemList').html(hasil);
                    $('#assetPinalty').html(pinaltyList);
                    $('#invoiceId').val(result.data.id);                    
                    $('#detailsModal').modal('show');                    
                } 
                else {
                      swal("Failed to get data", {
                        icon: "warning",
                    });               
                }
            }).fail((error) => {
                console.log(error);
            });
    }
   

    function ClearForm(){
         $('#setId').html('');
         $('#assetPinalty').html('');
         $('#itemList').html('');        
         $('#invoiceId').val('');
         listAssetId = [];        
    }

    function Coba(){
        let assetData =[];
        let problemCount =0;
        $.each(listAssetId, function( index, value ) {
    	    let res = $('#pinalty'+value).val();
  		    assetData.push([value,res]);
            if(value!=0){
                problemCount+=1;
            }
	    });
        var Invoice = new Object();        
        Invoice.InvoiceId = $('#invoiceId').val();
        Invoice.Assets = assetData;
        if(problemCount>0){
            Invoice.StatusInvoice = "2";
        }else{
            Invoice.StatusInvoice = "1";
        }
        console.log(Invoice);
    }

    function Submit(){
        swal({
            title: "Processing...",
            text: "Please wait",
            button: false,
            closeOnClickOutside: false,
        });        
        let assetData =[];
        let problemCount =0;
        $.each(listAssetId, function( index, value ) {
    	    let res = $('#pinalty'+value).val().toString();
  		    assetData.push([value,res]);
            if(value!=0){
                problemCount+=1;
            }
	    });
        var Invoice = new Object();        
        Invoice.InvoiceId = $('#invoiceId').val();
        Invoice.Assets = assetData;
        if(problemCount>0){
            Invoice.StatusInvoice = "2";
        }else{
            Invoice.StatusInvoice = "1";
        }
        console.log(Invoice.Assets);
        console.log(assetData);
            $.ajax({
                type:'POST',
                url: 'https://localhost:44342/employee/return',                
                data: Invoice
            }).done((result) => {
                console.log(result);
                if (result == 200) {
                    swal({
                        title: "Success!",
                        text: "Success returning the assets",
                        icon: "success"                        
                    });
                    ClearForm();
                    $('#detailsModal').modal('hide');
                    table.ajax.url( 'https://localhost:44329/api/Invoice/data/ongoing').load();                    
                } 
                else {
                      swal("Failed to returning asset", {
                        icon: "warning",
                    });               
                }
            }).fail((error) => {
                console.log(error);
            });
    }    
} 