@{
    Layout = "~/Views/Template/DashboardBase.cshtml";
}
@section Styles{
    <link rel="stylesheet" href="/vendor/datatables/css/dataTables.bootstrap4.min.css">
}

@section Menu{
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Manager</div>
        <a class="nav-link" href="https://localhost:44342/employee">
            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
            Dashboard
        </a>
        <a class="nav-link disabled" href="/manager/subordinates">
            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
            My Subordinate
        </a>
        <a class="nav-link" href="https://localhost:44342/manager/approval">
            <div class="sb-nav-link-icon"><i class="far fa-edit"></i></div>
            Manage Request
        </a>
    </div>
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link text-dark active" id="incoming-btn" data-toggle="tab" href="#data-tables"
           role="tab" aria-controls="card-data" aria-selected="true">Incoming</a>
        <a class="nav-link text-dark" id="approved-btn" data-toggle="tab" href="#data-tables"
           role="tab" aria-controls="card-data" aria-selected="true">Approved</a>
        <a class="nav-link text-dark" id="rejected-btn" data-toggle="tab" href="#data-tables"
           role="tab" aria-controls="card-data" aria-selected="true">Rejected</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">    
    <div class="tab-pane fade show active" id="data-tables" role="tabpanel" aria-labelledby="data-tables-tab">
        <div class="table-responsive mt-4">
            <table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Requested On</th>
                        <th>From</th>
                        <th>Until</th>
                        <th>Total Items</th>                       
                        <th>Action</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Requested On</th>
                        <th>From</th>
                        <th>Until</th>
                        <th>Total Items</th>                       
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Start Modal -->
<div class="modal fade" id="detailsModal" data-backdrop="static" data-keyboard="false" tabindex="-1"
     aria-labelledby="detailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailsModalLabel">Request Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table cellpadding="5">
                    <tr>
                        <td>Request Id</td>
                        <td>:</td>
                        <td id="setId"></td>
                    </tr>
                    <tr>
                        <td>Requested On</td>
                        <td>:</td>
                        <td id="setRequestDate"></td>
                    </tr>
                    <tr>
                        <td>From</td>
                        <td>:</td>
                        <td id="setFromDate"></td>
                    </tr>
                    <tr>
                        <td>Until</td>
                        <td>:</td>
                        <td id="setUntilDate"></td>
                    </tr>                                     
                </table>
                <hr>
                <h5>Items List</h5>
                <ol id="itemList">                    
                </ol>
                <form id="approvalForm">
                    <div class="form-group mb-3">
                        <label for="notes">Notes</label>
                        <textarea class="form-control" id="notes" placeholder="Say something about this request..." maxlength="20"></textarea>
                    </div>
                    <input hidden id="requestId" name="requestId" />
                    <div class="form-group">
                        <label for="approval">Approval</label>
                        <select class="form-control" id="approval" name="approval">
                            <option value="" selected>Choose...</option>
                            <option value="1">Approve</option>
                            <option value="2">Reject</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">                
                <button type="button" class="btn btn-sm btn-dark" id="submit-btn">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

@section ScriptsLink{
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
}

@section ScriptsDocReady{     
    table = $('#myTable').DataTable({
            "ajax": {
                "url": "https://localhost:44342/Request/manager/1/incoming",
                "datatype": "json",
                "dataSrc": ""
            },
            "columnDefs": [
                {
                    "targets": [0, 1],
                    "searchable": true,
                    "orderable": true,
                },
                {
                    "targets": [2, 3, 4, 5],
                    "searchable": false,
                    "orderable": false
                }
            ],
            "columns": [
                {
                    "data": 'id'
                },
                {             
                    "data":'requestDate',
                    "render": function (data, type, row, meta) {                        
                       return moment(data, "YYYY-MM-DD").format("DD MMMM YYYY");
                    }
                },
                {
                    "data": 'loanDate',
                    "render": function (data, type, row, meta) {                        
                       return moment(data, "YYYY-MM-DD").format("DD MMMM YYYY");
                    }
                },
                {
                    "data": 'returnDate',
                    "render": function (data, type, row, meta) {                        
                       return moment(data, "YYYY-MM-DD").format("DD MMMM YYYY");
                    }
                },
                {
                    "data": 'itemRequest.length',
                },                             
                {
                    "data": 'id',
                    "render": function (data, type, row, meta) {
                        if(row.requestStatus==0 && row.status==1){
                            return '<a href="javascript:void(0)" class="btn btn-sm btn-light" onclick="Details(\'' + data + '\')"><i class="far fa-check-square"></i></a>';              
                        }else{
                            return '-';
                        }
                    }
                }
            ]
        });    

    $("#incoming-btn").click(function(){
        table.ajax.url( 'https://localhost:44342/Request/manager/1/incoming').load();
    }); 
    $("#approved-btn").click(function(){
        table.ajax.url( 'https://localhost:44342/Request/manager/1/approved').load();
    });
    $("#rejected-btn").click(function(){
        table.ajax.url( 'https://localhost:44342/Request/manager/1/rejected').load();
    }); 
    
    $("#closeModal").click(function(){
      ClearForm();
    }); 

    $("#submit-btn").click(function(e){
        e.preventDefault();
        if($('#approval').val()==''){
            swal("Please select approval first", {
                 icon: "warning",
            });
        }else{
            Submit();
        }
    });
} 

@section Scripts{
    function Details(id){
        $.ajax({
                type:'GET',
                url: 'https://localhost:44329/api/Request/'+id,
                data: 'data'
            }).done((result) => {                
                if (result.status == "Ok") {
                    let hasil="";
                    $('#detailsModal').modal('show');
                    $('#setId').html('#'+result.data.id);
                    $('#setRequestDate').html(moment(result.data.requestDate, "YYYY-MM-DD").format("DD MMMM YYYY"));
                    $('#setFromDate').html(moment(result.data.loanDate, "YYYY-MM-DD").format("DD MMMM YYYY"));
                    $('#setUntilDate').html(moment(result.data.returnDate, "YYYY-MM-DD").format("DD MMMM YYYY"));
                    $.each( result.data.itemRequest, function( key, field ) {
                        hasil+='<li>#'+field.asset.id+' - '+field.asset.name+'</li>';                                        
                    });
                    $('#itemList').html(hasil);
                    $('#requestId').val(result.data.id);                    
                } 
                else {
                      swal("Failed to get data", {
                        icon: "warning",
                    });               
                }
            }).fail((error) => {
                console.log(error);
            });
    }

    function ClearForm(){
         $('#setId').html('');
         $('#setRequestDate').html('');
         $('#setFromDate').html('');
         $('#setUntilDate').html('');
         $('#itemList').html('');
         $('#notes').val('');
         $('#requestId').val('');
         $('#approval').val('');
    }

    function Submit(){
        swal({
            title: "Processing...",
            text: "Please wait",
            button: false,
            closeOnClickOutside: false,
        });        
        var Approve = new Object();
        Approve.RequestDetailStatus = $('#approval').val();
        Approve.Note = $('#notes').val();
        Approve.RequestId = $('#requestId').val();
            $.ajax({
                type:'POST',
                url: 'https://localhost:44342/manager/approving',
                data: Approve
            }).done((result) => {
                console.log(result);
                if (result == 200) {
                    swal({
                        title: "Success!",
                        text: "Success managing this request",
                        icon: "success"                        
                    });
                    ClearForm();
                    $('#detailsModal').modal('hide');
                    table.ajax.url( 'https://localhost:44342/Request/manager/1/incoming').load();                    
                } 
                else {
                      swal("Failed to create request", {
                        icon: "warning",
                    });               
                }
            }).fail((error) => {
                console.log(error);
            });
    }    
} 