@{
    Layout = "~/Views/Template/DashboardBase.cshtml";
}
@section Menu{
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Manager</div>
        <a class="nav-link" href="https://localhost:44342/employee">
            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
            Dashboard
        </a>
        <a class="nav-link" href="https://localhost:44342/manager/subordinates">
            <div class="sb-nav-link-icon"><i class="fas fa-users"></i></div>
            My Subordinate
        </a>
        <a class="nav-link" href="https://localhost:44342/manager/approval">
            <div class="sb-nav-link-icon"><i class="far fa-edit"></i></div>
            Manage Request
        </a>
    </div>
}