@using Metro_Asset_System.Models;
@{
    Layout = "~/Views/Template/LandingPage.cshtml";
}
<div class="d-flex content">
    <div class="flex-fill w-50 left">
        <div class="text">
            <h1><i><b>METROASSETS</b></i></h1>
            <p>
                MetroAssets is a system to manage all loan requests from Metrodata Group Employees. This system
                was managed under Procurement Department. Any requirements related with office asset loans
                will be managed through this system.
            </p>
        </div>
    </div>
    <div class="flex-fill right">
        <div class="form">
            <center>
                <img src="~/assets/images/logo.jpg" alt="MetroAssets" width="50%">
            </center>

            <div class="d-flex justify-content-center nav nav-tabs button-list" role="tablist">
                <button class="btn btn-dark" id="home-tab" data-bs-toggle="tab" data-bs-target="#signIn"
                        type="button" role="tab" aria-controls="signIn" aria-selected="true">
                    Sign In
                </button>
                <button class="btn btn-dark" id="register-tab" data-bs-toggle="tab" data-bs-target="#register"
                        type="button" role="tab" aria-controls="register" aria-selected="false">
                    Sign Up
                </button>
            </div>
            <div class="tab-content mt-2" id="myTabContent">
                <div class="tab-pane fade show active" id="signIn" role="tabpanel" aria-labelledby="signIn-tab">
                    <form id="loginForm">
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" name="username" id="username"
                                   placeholder="Please input your username..." autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" name="password" id="password"
                                   placeholder="Please input your password...">
                        </div>
                        <a href="javascript:void(0)" class="float-end mt-2" id="forgetBtn">
                            Forget
                            Password
                        </a>
                        <button type="submit" class="btn btn-primary w-100 mt-3" id="loginBtn">Login</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                    <form id="registForm">
                        <div class="row mb-2">
                            <div class="form-group col">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" placeholder="First name" id="firstName"
                                       name="firstName">
                            </div>
                            <div class="form-group col">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" placeholder="Last name" id="lastName"
                                       name="lastName">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="form-group col">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" placeholder="Username" id="username_"
                                       name="username">
                            </div>
                            <div class="form-group col">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" placeholder="Email" id="email"
                                       name="email">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="form-group col">
                                <label for="birthday">Birthday</label>
                                <input type="text" class="form-control" placeholder="Birthday" id="birthday"
                                       name="birthday">
                            </div>
                            <div class="form-group col">
                                <label for="phone">Phone Number</label>
                                <div class="input-group">
                                    <span class="input-group-text">08</span>
                                    <input type="text" class="form-control" placeholder="Phone Number"
                                           id="phone" name="phone">
                                </div>
                            </div>
                        </div>
                        <fieldset class="form-group row err-custom">
                            <legend class="col-form-label col-sm-2 float-sm-left pt-0">Gender</legend>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="gender"
                                           value="0">
                                    <label class="form-check-label" for="gender">
                                        Male
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="gender" id="gender"
                                           value="1">
                                    <label class="form-check-label" for="gender">
                                        Female
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        @{
                            var department = (Department)ViewData["Department"];
                        }
                        <div class="form-group">
                            <label for="department">Department</label>
                            <select class="form-select form-control" id="department" name="department">
                                <option value="">Choose...</option>
                                <option value="@department.Id">@department.Name</option>
                                <option value="213">ADD 2</option>
                                <option value="214">Payment</option>
                                <option value="215">SDM</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary w-100 mt-3" id="registBtn">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                $("#birthday").datepicker({
                    format: 'dd/mm/yyyy',
                    autoclose: true,
                    todayHighlight: true,
                    endDate: '-17y',
                    leftArrow: '<i class="far fa-arrow-alt-circle-left"></i>',
                    rightArrow: '<i class="far fa-arrow-alt-circle-right"></i>'
                });
            });
            let registForm = $("#registForm");
            let loginForm = $("#loginForm");

            registForm.validate({
                rules: {
                    firstName: {
                        required: true,
                        minlength: 3,
                        maxlength: 20
                    },
                    lastName: {
                        required: true,
                        minlength: 3,
                        maxlength: 50
                    },
                    username: {
                        required: true,
                        maxlength: 10,
                        minlength: 5
                    },
                    gender: "required",
                    birthday: "required",
                    phone: {
                        required: true,
                        minlength: 9,
                        maxlength: 10,
                        digits: true
                    },
                    email: {
                        required: true,
                        email: true,
                    },
                    gender: "required",
                    department: "required",
                    department: "required"
                },
                highlight: function (element) {
                    $(element).closest('.form-control').addClass('is-invalid');
                    $(element).closest('.form-control').removeClass('is-valid');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-control').removeClass('is-invalid');
                    $(element).closest('.form-control').addClass('is-valid');
                },
                errorPlacement: function (error, element) {
                    if (element.is(":radio")) {
                        error.appendTo(element.parents('.err-custom'));
                    }
                    else {
                        error.insertAfter(element);
                    }
                }
            })

            loginForm.validate({
                rules: {
                    username: {
                        required: true,
                        maxlength: 10
                    },
                    password: "required"
                },
                highlight: function (element) {
                    $(element).closest('.form-control').addClass('is-invalid');
                    $(element).closest('.form-control').removeClass('is-valid');
                },
                unhighlight: function (element) {
                    $(element).closest('.form-control').removeClass('is-invalid');
                    $(element).closest('.form-control').addClass('is-valid');
                }
            })

            $("#forgetBtn").on("click", function (e) {
                swal({
                    text: 'Input your registered email.',
                    content: "input",
                    button: {
                        text: "Submit!",
                        closeModal: false,
                    },
                }).then(userInput => {
                        var Forget = new Object();
                        Forget.Email = userInput;
                        $.ajax({
                            type: 'POST',
                            url: '/Auth/Forget',
                            data: Forget
                        }).done((result) => {
                            if (result == 200) {
                                swal({
                                    title: "Success!",
                                    text: "Forget password success. Check your email to see your new password",
                                    icon: "success"
                                });                                
                            } else if (result ==404) {
                                swal({
                                    title: "Not Found!",
                                    text: "Email was not registered",
                                    icon: "warning"
                                });
                            }
                            else {
                                swal("Forget password failed", {
                                    icon: "warning",
                                });
                            }
                        }).fail((error) => {
                            console.log(error);
                        });
                }).catch(err => {
                    if (err) {
                        swal("Oh noes!", "The AJAX request failed!", "error");
                    } else {
                        swal.stopLoading();
                        swal.close();
                    }
                });
            });


            $("#loginBtn").on("click", function (e) {
                e.preventDefault();
                if (loginForm.valid()) {
                     Login();
                }
            });

            $("#registBtn").on("click", function (e) {
                e.preventDefault();
                if (registForm.valid()) {
                    Register();
                }
            });            

        });//end document ready

        function Login() {
            swal({
                title: "Checking...",
                text: "Please wait",               
                showConfirmButton: false,
                closeOnClickOutside: false,
                
            });
            var Login = new Object();           
            Login.Username = $('#username').val();
            Login.Password = $('#password').val();
            $.ajax({
                type:'POST',
                url: '/Auth/Login',
                data: Login
            }).done((result) => {
                if (result == 200) {
                    swal({
                        title: "Success!",
                        text: "Login success",
                        icon: "success"                        
                    }).then((clickOk) => {
                        window.location.replace("/Auth/Dashboard");
                    });
                } else if (result == 403) {
                   swal({
                        title: "Login Failed!",
                        text: "Username/password was incorected or maybe you didn't verificate the email yet",
                        icon: "warning"                        
                    });
                }
                else {
                      swal("Account is not identified", {
                        icon: "warning",
                    });               
                }
            }).fail((error) => {
                console.log(error);
            });
        }

        function ClearRegistForm(){
            $('#firstName').val("");
            $('#lastName').val("");
            $('#username_').val("");
            $('#email').val("");
            $('#birthday').val("");
            $('#phone').val("");
            $('#gender').val(0);
            $('#department').val("");
            $('input').removeClass('is-valid');
        }

        function Register() {
            console.log("Login function");
            var Register = new Object();           
            Register.FirstName = $('#firstName').val();
            Register.LastName = $('#lastName').val();
            Register.Username = $('#username_').val();
            Register.Email = $('#email').val();
            Register.Birthday = $('#birthday').val();
            Register.Phone = $('#phone').val();
            Register.Gender = $('#gender').val();
            Register.DepartmentId = $('#department').val();
            $.ajax({
                type:'POST',
                url: '/Auth/Register',
                data: Register
            }).done((result) => {
                if (result == 200) {
                    swal({
                        title: "Success!",
                        text: "Register Account success. Please check your email to verificate",
                        icon: "success"                        
                    });
                     ClearRegistForm();
                } 
                else {
                      swal("Register failed. Please recheck all your input field", {
                        icon: "warning",
                    });               
                }
            }).fail((error) => {
                console.log(error);
            });
        }
    </script>
}
