@{
    Layout = "~/Views/Template/DashboardBase.cshtml";
}
@section Menu{
   
}

<div class="card mb-3">
    <div class="card-header bg-dark text-light">
        <i class="far fa-user-circle"></i> My Profile
    </div>
    <div class="card-body">
        <div class="card-block mb-3">
            <h6 class="border-bottom border-secondary pb-2"><b>Employee's Data</b></h6>
            <div class="row">
                <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">NIK</p>
                    <h6 class="text-muted f-w-400">719361</h6>
                </div>
                <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Department</p>
                    <h6 class="text-muted f-w-400">ADD 1</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <p class="m-b-10 f-w-600">Manager</p>
                    <h6 class="text-muted f-w-400">Naufal Aji Wibowo</h6>
                </div>
            </div>
        </div>
        <form>
            <h6 class="border-bottom border-secondary pb-2"><b>Personal Data</b></h6>
            <div class="row mb-2">
                <div class="form-group col">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" placeholder="First name" id="firstName"
                           name="firstName" autocomplete="off">
                </div>
                <div class="form-group col">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" placeholder="Last name" id="lastName"
                           name="lastName" autocomplete="off">
                </div>
            </div>
            <div class="row mb-2">
                <div class="form-group col">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" placeholder="Username" id="username"
                           name="username" autocomplete="off">
                </div>
                <div class="form-group col">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" placeholder="Email" id="email"
                           name="email" autocomplete="off">
                </div>
            </div>
            <div class="row mb-2">
                <div class="form-group col">
                    <label for="birthday">Birthday</label>
                    <input type="text" class="form-control" placeholder="Birthday" id="birthday"
                           name="birthday" autocomplete="off">
                </div>
                <div class="form-group col">
                    <label for="phone">Phone Number</label>
                    <div class="input-group">
                        <span class="input-group-text">08</span>
                        <input type="text" class="form-control" placeholder="Phone Number"
                               id="phone" name="phone" autocomplete="off">
                    </div>
                </div>
            </div>
            <fieldset class="form-group row err-custom">
                <legend class="col-form-label col-sm-2 float-sm-left pt-0">Gender</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="gender1"
                               value="0">
                        <label class="form-check-label" for="gender1">
                            Male
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gender" id="gender2"
                               value="1">
                        <label class="form-check-label" for="gender2">
                            Female
                        </label>
                    </div>
                </div>
            </fieldset>
            <button class="btn btn-dark float-right"><i class="far fa-save"></i> Save</button>
        </form>
    </div>
</div>

<div class="row mb-5">
    <div class="col-lg-5 col-md-6">
        <div class="card">
            <div class="card-header bg-dark text-light">
                <i class="fas fa-key"></i> Change Password
            </div>
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <label for="currentPassword">Current Password</label>
                        <input type="password" class="form-control" id="currentPassword"
                               name="currentPassword" placeholder="Input your current password">
                    </div>
                    <div class="form-group">
                        <label for="newPassword">New Password</label>
                        <input type="password" class="form-control" id="newPassword"
                               placeholder="Input your new password">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword"
                               placeholder="Retype your new password">
                    </div>
                    <button type="submit" class="btn btn-dark w-100">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>