@{
    Layout = "~/Views/Template/DashboardBase.cshtml";
}
@section Menu{
    <div class="nav">
        <div class="sb-sidenav-menu-heading">Employee</div>
        <a class="nav-link" href="/employee">
            <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
            Dashboard
        </a>
        <a class="nav-link" href="/employee/request">
            <div class="sb-nav-link-icon"><i class="fas fa-book"></i></div>
            Request
        </a>
        <a class="nav-link" href="/employee/invoice">
            <div class="sb-nav-link-icon"><i class="fas fa-file-invoice"></i></div>
            Invoice
        </a>
    </div>
}

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link text-dark active" id="card-data-tab" data-toggle="tab" href="#card-data"
           role="tab" aria-controls="card-data" aria-selected="true">Active</a>
        <a class="nav-link text-dark" id="card-data-tab" data-toggle="tab" href="#card-data2"
           role="tab" aria-controls="card-data" aria-selected="true">Finished</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="card-data2" role="tabpanel"
         aria-labelledby="card-data-tab">
        <div class="wrap-invoice d-flex flex-wrap justify-content-between mt-3" id="invoice">

        </div>
    </div>
    <div class="tab-pane fade show active" id="card-data" role="tabpanel"
         aria-labelledby="card-data-tab">
        <div class="wrap-invoice d-flex flex-wrap justify-content-between mt-3" id="invoice"

        </div>
    </div>
</div>

@section scripts{

        $(document).ready(function () {
            $.getJSON("https://localhost:44329/api/Invoice/GetInvoice/Finished", function (result) {
                $.each(result.data, function (i, field) {
                    const date = field.invoiceDate;   
                    var status = "";  
                    if (field.status == "0"){
                         status = "On Going";
                    } else if (field.status == 1){
                         status = "Finished Fine";
                    } else {
                         status = "Finished With Problem";
                    }
                    $("#invoice").append('<div class="card text-white bg-dark mb-3 w-100 h-50" style="max-width:18rem;">'
                        + '<div class= "card-header d-flex justify-content-between p-2">'
                        + '<h5 class="text-primary">' + field.id + '</h5>'
                        + '</div>'

                        + '<div class="card-body p-2">'
                        + '<p class="my-0">Date   :' + field.invoiceDate + '</p>'
                        + '<p class="my-0">Status :' + status + '</p>'
                        + '</div>'
                      
                        + '</div>');
                });
            });
        });
}

@section ScriptsLink{
    <script src="/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
}



